$pp_manuscriptInk: #4d3a32;
$pp_manuscriptPaper: #D2CFBF;
$stem: '/fonts/';

// SSSi Regular
$sssiRegular: 'sssi_regular';
@font-face {
  font-family: 'Sssi';
  font-style: normal;
  font-weight: normal;
  src:
    url($stem + $sssiRegular + '.woff2') format('woff2'),
    url($stem + $sssiRegular + '.woff') format('woff'),
    url($stem + $sssiRegular + '.ttf') format('truetype'),
    url($stem + $sssiRegular + '.eot') format('embedded-opentype');
}

// Sterling SSi Italic
$sssiItalic: 'sssi_italic';

@font-face {
  font-family: 'Sssi';
  font-style: italic;
  font-weight: normal;
  src:
    url($stem + $sssiItalic + '.woff2') format('woff2'),
    url($stem + $sssiItalic + '.woff') format('woff'),
    url($stem + $sssiItalic + '.ttf') format('truetype'),
    url($stem + $sssiItalic + '.eot') format('embedded-opentype');
}

body, html {
  height: 100%;
}

body {
  //background: rgba($pp_manuscriptPaper, .15) !important;
  background: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.node {
  cursor: pointer;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  height: 100%;
  background: none;
}

#svgContainer {
  flex: 1 1 auto;
  overflow: auto;
}

.sidePanel {
  font-size: 1em;
  background: rgba($pp_manuscriptPaper, .85);
  flex: 0 0 21em;
  overflow: auto;
  border-left: solid 1px rgba(0, 0, 0, .15);
  padding: 2.5em 1.5em;
}

.hidden {
  display: none;
}

p.comment {
  margin-top: 16px;
}

div.ui.error.message {
  margin: auto;
}

div.ui.errorPopup.message {
  left: 40px;
  bottom: 40px;
  position: fixed;
}

div.ui.card.intro {
  width: 770px;
  margin: auto;
}

.version {
  color: #888;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  //background-image: url(../topola.jpg);
  background-size: cover;
  background-position: 0% 20%;
  position: fixed;
  z-index: -100;
  filter: blur(8px) opacity(30%);
  -webkit-filter: blur(8px) opacity(30%);
}

div.zoom {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  position: fixed;
  margin: 10px;
  z-index: 10;
}

.zoom button {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 26px;
  height: 26px;
  background-color: #fff;
  display: block;
  line-height: 26px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0px;
}

.zoom button:hover {
  background-color: #eee;
}

.zoom button:focus {
  outline: 0px;
}

.zoom-in {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0px;
  border-bottom: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}

.zoom-out {
  border: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui.loader.loading-more {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 25px;
}

.content .ui.image.blockImage {
  display: block;
}

.link-span {
  color: #4183c4;
  cursor: pointer;
}

.ui.menu .item>img:not(.ui).menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px
}

.ui.top.attached.menu {
  margin-top: 0;
}

.details {
  //padding: 15px 0px;
  //border-bottom: 1px solid rgba(34,36,38,.15);
}

.details {
  .details__name {
    display: block;
    margin-bottom: 2em;

    .header {
      color: darken($pp_manuscriptInk, 20%);
      font-family: 'sssi', Garamond, serif;
    }
  }

  .details__notes {
    margin-top: 1em;
    border-top: 1px solid rgba($pp_manuscriptInk, .15);
    padding-top: 1.5em;

    i {
      font-size: .95em;
      line-height: 1.5;
      //font-style: normal;
      color: darken($pp_manuscriptInk, 20%);
    }
  }
}

.details .item .content .event-header {
  justify-content: space-between;
  display: flex;
  word-break: break-word;

  .header {
    font-size: .9em;
    color: darken($pp_manuscriptInk, 10%);
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
}

.details .ui.items .item {
  margin-bottom: .66em;
  margin-top: 0;
}

.details .ui.items .item .meta {
  color: darken($pp_manuscriptInk, 5%);
}

.details .event-header .header {
  text-transform: uppercase;
  margin: 0;
  min-width: 40%;
}

.details .person-image {
  max-width: 100%;
  display: block;
}

.ui.form .field.no-margin {
  margin: 0;
}

.ui.tabular.menu a {
  text-transform: uppercase;
}

.limit-height {
  height: 300px;
  overflow-y: scroll;
}

.loaded-image-thumbnail {
  cursor: zoom-in;
}

.hidden-image {
 display: none !important;
}

.modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-image .ui.attached.label {
  width: auto;
  min-width: 100%;
}

.image-placeholder {
  height: 100%;
}

.event-extras .ui.attached.menu {
  border: none;
  min-height: auto;
}

.event-extras .ui.attached.segment.tab {
  border: none;
}

.event-extras .ui.tabular.menu .item {
  border: none;
}

.event-extras .ui.menu .active.item .icon {
  background-color: #1b1c1d;
  color: #ffffff;
}

.event-extras .ui.attached.segment.active.tab{
  word-break: normal;
  overflow-wrap: anywhere;
  max-width: 289px;
  padding: 14px 0 0;
}

/* The Pulter Project Customizations */
#svgContainer {
  //background: #1c1512 linear-gradient(0deg, #372a24 0, #1f1714 100%);
  background: rgba(0, 0, 0, .1);
}

.node {
  .indi {
    position: relative;
    overflow: hidden;

    .background {
      fill: #B1AEA0;
      transition: fill .2s;
    }

    .border {
      stroke: rgba(#000, .33);
      stroke-width: 1;
      rx: 4;
    }

    .name {
      fill: darken($pp_manuscriptInk, 20%);
      font-family: 'sssi', Garamond, serif;
    }

    .details {
      fill: darken($pp_manuscriptInk, 5%);
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    //image {
    //  transform: none;
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  display: block;
    //}

    /* Individual nodes */
    &[data-gedcom-id=I1] {
      .background {
        //fill: darkgoldenrod;
      }

      .name {
        //fill: #000;
      }

      .border {
        stroke: darkgoldenrod;
        stroke-width: 1px;
      }
    }

    &:hover {
      .background {
        fill: darken(#B1AEA0, 10%);
      }
    }
  }

  .family {
    .nocolor {
      fill: #B1AEA0;
    }

    .details {
      fill: darken($pp_manuscriptInk, 5%);
    }
  }
}
